.graphiql-container .doc-explorer-title-bar {
  display: none;
}

.graphiql-container .graphiql-sidebar button {
  width: calc(var(--sidebar-width) - (var(--px-8) * 2));
  display: flex;
  align-items: center;
  justify-content: center;
}
.graphiql-container .graphiql-sidebar button > svg {
  padding: 0;
}
